
Equations/equations.tex~
Equations/equations.tex
Equations/equations.pdf
Equations/equations.org~
Equations/equations.org
Equations/equations.bbl
Equations/.#equations.org
Equations/#equations.org#
.DS_Store
Single-Compartment-OLM/
*.asv
